@use "reset.scss";
@use "extras-paddings-margins.scss";
@use "mixins.scss" as m;
@use "variables.scss" as v;
@use "icons.scss";

* {
    color: v.$black;
}

.page-x-space {
    padding: 0 89px;
}



.btn {
    &--primary {
        @include m.btn-primary;

        &--grey {
            @include m.btn-secondary;
            background-color: v.$grey;
        }
    }

    &--secondary {
        @include m.btn-secondary;

        &--grey {
            @include m.btn-secondary;
            border: 1px solid v.$grey;
            color: v.$grey;
        }
    }
}

.title {
    @include m.title;

    &--italic {
        @include m.title-italic;
    }

    &--medium {
        @include m.medium-title;

        &--italic {
            @include m.medium-title-italic;
        }
    }
}

.text {
    @include m.text;

    &--grey {
        @include m.text;
        color: v.$grey;
    }
}

.navi-small {
    @include m.navi-small;

    &--grey {
        @include m.navi-small;
        color: v.$grey;
    }
}

.card {
    &__content-box {
        &__icon {
            //todo
        }

        &__title {
            @include m.card-title;
        }

        &__text {
            @include m.card-text;
        }
    }
}

.header {
    .nav-link {
        @include m.card-text;
    }
    .dropdown-toggle::after {
        position: absolute;
        font-family: 'icomoon';
        border: none;
        content: "\e901";
    }
    .search-box {
        border: 1px solid transparent;
        &.open {
            border-radius: 200px;
            border: 1px solid v.$green;
        }
        .search-btn {
            background: transparent;
            border: none;
            width: 24px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.4s;
            &::after {
                font-family: 'icomoon';
                border: none;
                content: "\e905";
                font-size: 24px;
            }
        }

        .search-input {
            border: none;
            background: none;
            outline: none;
            float: left;
            padding: 0;
            color: v.$black;
            font-size: 16px;
            transition: 0.4s;
            line-height: 40px;
            width: 0px;

            &.open {
                width: 240px;
                padding: 0 6px;
            }

        }
    }
}

.section-main {
    height: 720px;
    background-color: var(--beige, #DCC1AB);

    &__content {
        padding: 50px;
    }

    &__img {
        background-image: url('../img/garden.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

.about {
    height: 720px;
    background-color: v.$green;

    &__photo {
        background-image: url('../img/japan_garden.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &__content {


        .navi-small,
        .title,
        .title--italic,
        .text {
            color: v.$grey;
        }

        .title {
            max-width: 250px;
        }

        .text {
            margin-bottom: 72px;
        }

        padding-left: 96px;
    }
}

.projects {
    &__header {
        margin-top: 120px;
        margin-bottom: 96px;
        padding-left: 160px;
    }
}

.instagram {
    background-color: red;

    &__content {
        padding: 120px 110px;
        background-color: v.$green;

        &__btn-section {
            width: 20%;
        }
    }
} 

.footer {
    background-color: black;
    padding: 80px 256px; 

    &__info {
        border-bottom: 1px solid white;
        padding-bottom: 62px;
    }

    &__text {
        @include m.text-white;
    } 
}