@use "reset.scss";
@use "extras-paddings-margins.scss";
@use "mixins.scss" as m;
@use "variables.scss" as v;
@use "icons.scss";
@use "function.scss" as f;

* {
    color: v.$black;
}

.page-x-space {
    padding: 0 f.calculateRem(89px);
}

.btn {
    &--primary {
        @include m.btn-primary;

        &--grey {
            @include m.btn-primary;
            background-color: v.$grey;
            color: v.$green;
        }
    }

    &--secondary {
        @include m.btn-secondary;

        &--grey {
            @include m.btn-secondary;
            border: f.calculateRem(1px) solid v.$grey;
            color: v.$grey;

            &:hover {
                background-color: v.$light-grey;
            }

            .icon::before {
                color: v.$grey;
            }
        }
    }
}

.title {
    @include m.title;

    &--italic {
        @include m.title-italic;
    }

    &--medium {
        @include m.medium-title;

        &--italic {
            @include m.medium-title-italic;
        }
    }
}

.text {
    @include m.text;

    &--grey {
        @include m.text;
        color: v.$grey;
    }
}

.navi-small {
    @include m.navi-small;

    &--grey {
        @include m.navi-small;
        color: v.$grey;
    }
}

.website {
    background-color: v.$grey;
}

.header {
    background-color: v.$white;

    .nav-link {
        @include m.card-text;
    }

    .dropdown-toggle::after {
        position: absolute;
        font-family: 'icomoon';
        border: none;
        content: "\e901";
    }

    .search-box {
        border: f.calculateRem(1px) solid transparent;

        &.open {
            border-radius: f.calculateRem(200px);
            border: f.calculateRem(1px) solid v.$green;
        }

        .search-btn {
            background: transparent;
            border: none;
            width: f.calculateRem(24px);
            height: f.calculateRem(24px);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.4s;

            &::after {
                font-family: 'icomoon';
                border: none;
                content: "\e905";
                font-size: f.calculateRem(24px);
            }
        }

        .search-input {
            border: none;
            background: none;
            outline: none;
            float: left;
            padding: 0;
            color: v.$black;
            font-size: f.calculateRem(16px);
            transition: 0.4s;
            line-height: f.calculateRem(40px);
            width: f.calculateRem(0px);

            &.open {
                width: f.calculateRem(240px);
                padding: 0 f.calculateRem(6px);
            }

        }
    }
}

.big-wrapper {
    background: v.$grey;
    padding-top: f.calculateRem(120px);
    padding-bottom: f.calculateRem(160px);

    @include m.md {}
}

.section {
    max-width: f.calculateRem(1040px);
    margin: 0 auto;

    .text {
        max-width: f.calculateRem(500px);

        @include m.md {
            max-width: f.calculateRem(709px);
        }
    }
}

.wrapper {
    padding: 0 f.calculateRem(88px);
    display: flex;

    .gap {
        gap: f.calculateRem(20px);

        @include m.md {
            gap: f.calculateRem(96px);
        }
    }

    .card {
        padding: f.calculateRem(28px) f.calculateRem(20px);
        border: none;
        border-radius: f.calculateRem(28px);
        transition: 0.5s;

        @include m.md {
            padding: f.calculateRem(48px) f.calculateRem(40px);
            max-width: f.calculateRem(378px);
        }

        &:hover {
            box-shadow: v.$card-shadow;
        }

        &__content-box {

            &__title {
                @include m.card-title;
            }

            &__text {
                @include m.card-text;
            }

            &__icon {
                width: f.calculateRem(40px);
                height: f.calculateRem(40px);
            }

            &__link {
                cursor: pointer;
                text-decoration: none;
                text-align: left;
                border-bottom: f.calculateRem(1px) solid v.$green;
                width: fit-content;

                &__text {
                    @include m.text-green;
                }

                .icon-arrow-btn-right {
                    margin-left: f.calculateRem(8px);
                }
            }
        }
    }
}

.section-main {
    background-color: v.$beige;

    @include m.lg {
        height: f.calculateRem(720px);
    }

    &__content {
        padding: f.calculateRem(34px);

        @include m.md {
            padding: f.calculateRem(64px);
        }

        .text {
            margin-bottom: f.calculateRem(70px);

            @include m.md {
                max-width: f.calculateRem(490px);
            }
        }

        .buttons {
            display: flex;
            gap: f.calculateRem(36px);
        }
    }

    .slide {

        height: 640px;
        object-fit: cover;
        overflow: hidden;

        @include m.lg {
            height: 100%;
        }
    }

    .carousel {
        position: relative;
    }

    .carousel-control-prev {
        position: absolute;
        width: 96px;
        height: 96px;
        background-color: v.$grey;
        opacity: 1;
        text-decoration: none;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);

        @include m.lg {
            transform: unset;
            top: unset;
            left: unset;
            right: 96px;
        }

        .carousel-control-prev-icon {
            background-image: unset;
            width: 48px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;

            &::before {
                content: "\e902";
                font-size: 48px;
                font-family: 'icomoon';
            }
        }
    }

    .carousel-control-next {
        position: absolute;
        width: 96px;
        height: 96px;
        background-color: v.$grey;
        opacity: 1;
        text-decoration: none;

        top: 50%;
        transform: translate(0, -50%);

        @include m.lg {
            top: unset;
            transform: unset;
        }

        .carousel-control-next-icon {
            background-image: unset;
            width: 48px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;

            &::before {
                content: "\e903";
                font-size: 48px;
                font-family: 'icomoon';
            }
        }
    }
}

.about {
    height: f.calculateRem(1000px);
    background-color: v.$green;

    @include m.lg {
        height: f.calculateRem(720px);
    }

    &__photo {
        background-image: url('../img/japan_garden.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: f.calculateRem(500px);
    }

    &__content {

        .navi-small,
        .title,
        .title--italic,
        .text {
            color: v.$grey;
        }

        .title {

            @include m.lg {
                max-width: f.calculateRem(250px);
            }

        }

        .text {
            max-width: f.calculateRem(500px);

            @include m.lg {
                max-width: 100%;
            }

            margin-bottom: f.calculateRem(72px);
        }

        padding-left: f.calculateRem(45px);

        @include m.md {
            padding-left: f.calculateRem(96px);
        }
    }
}

.projects {
    background-color: v.$beige;

    &__header {
        padding-top: f.calculateRem(120px);
        padding-bottom: f.calculateRem(96px);
        padding-left: f.calculateRem(160px);
    }
}

.instagram {

    &__content {
        padding: f.calculateRem(80px) f.calculateRem(70px);
        background-color: v.$green;

        @include m.md {
            padding: f.calculateRem(120px) f.calculateRem(110px);
        }

        &__btn-section {
            width: 100%;

            @include m.md {
                width: 20%;
            }

        }
    }
}

.footer {
    background-color: v.$black;
    padding: f.calculateRem(80px) f.calculateRem(100px);

    @include m.md {
        padding: f.calculateRem(80px) f.calculateRem(256px);
    }

    &__info {
        border-bottom: f.calculateRem(1px) solid v.$grey;
        padding-bottom: f.calculateRem(62px);
        gap: f.calculateRem(20px);

        @include m.md {
            gap: 0;
        }
    }

    &__text {
        @include m.text-white;
    }

    &__media {
        gap: f.calculateRem(28px);

        @include m.md {
            gap: f.calculateRem(48px);
        }
    }

    &__contact {
        gap: f.calculateRem(28px);

        @include m.md {
            gap: f.calculateRem(48px);
        }
    }

    &__logo {
        width: f.calculateRem(113px);
        height: f.calculateRem(23px);
    }
}

.grid {
    margin: 0 auto;

    .grid-item {
        margin-bottom: f.calculateRem(10px);

        img {
            width: 100%;
        }
    }

    .grid-sizer,
    .grid-item {
        width: 30%;
    }
}