// FONTS
$montserrat: 'Montserrat', sans-serif;
$inter: 'Inter', sans-serif;

// COLORS
$white: #fff;
$black: #111;
$green: #1B5B31;
$light-green: rgba(27, 91, 49, 0.2);
$grey: #F5F0EC;
$light-grey: rgba(245, 240, 236, 0.2);
$beige: #DCC1AB;

//SHADOWS
$card-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;